[Unit]
Description=This is a network tune script
After=network.target
After=systemd-user-sessions.service
After=network-online.target
[Service] 
Type=simple 
ExecStart=/etc/init.d/network-tune 
TimeoutStartSec=0 
[Install] 
WantedBy=default.target
