network {
  enabled_service_networks: "__NW__"
  enabled_client_networks: "__NW__"
}
security {
  user_database: "DB"
}
s3_proxy {
  authentication_type: REGISTRY_USER_DATABASE
  http_port: 80
  https_port: 443
  redirect_to_https: false
  hostname: "__S3__"
  browser_bucket_name: "browser.__S3__"
}
health_manager_config {
  enable: true
  rebalance_policy {
    enable: true
    keep_usage_within_band_fraction: 0.3
    limit_max_rebalance_data_device_tasks: 4
    restrict_to_maintenance_window: true
    retry_successful_period_s: 36000
    retry_failed_period_s: 43200
  }
  catchup_policy {
    enable: true
  }
  fstrim_policy {
    enable: true
    interval_s: 1209600
    restrict_to_maintenance_window: false
    limit_max_tasks_per_service: 1
    limit_max_tasks: 1
  }
  cleanup_policy {
    enable: false
    interval_s: 2592000
    restrict_to_maintenance_window: false
    limit_max_tasks_per_service: 1
    limit_max_tasks: 3
  }
  handle_defective_devices_policy {
    enable: true
    action: REGENERATE_DEVICE
    limit_max_tasks: 2
  }
  update_states_of_drained_devices_policy {
    enable: true
  }
  scrub_policy {
    enable: true
    interval_s: 2592000
    restrict_to_maintenance_window: true
    limit_max_tasks: 10
  }
  regenerate_unavailable_devices_policy {
    enable: true
    device_unavailable_grace_period_s: 28800
    restrict_to_maintenance_window: false
    limit_max_tasks: 2
  }
  enforce_placement_policy {
    enable: true
    restrict_to_maintenance_window: false
    interval_s: 604800
  }
}
client_configuration {
  enable_minidump_uploads: true
}
